{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-react-jsx-source",
    "dynamic-import-webpack",
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "Components": "./components",
          "Config": "./config",
          "Extensions": "./extensions",
          "Pages": "./pages",
          "Styles": "./styles"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-catch-errors",
                "imports": [
                  "react",
                  "redbox-react"
                ]
              }
            ]
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-inline-elements"
      ]
    }
  }
}
