{
  "presets": [
    "latest",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-react-jsx-source",
    ["module-resolver", {
      "alias": {
        "Components": "./components",
        "Config": "./config",
        "Extensions": "./extensions",
        "Pages": "./pages",
        "Styles": "./styles"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        ["react-transform", {
          "transforms": [
            {
              "transform": "react-transform-catch-errors",
              "imports": [
                "react",
                "redbox-react"
              ]
            }
          ]
        }]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-inline-elements"
      ]
    }
  }
}
