{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "dynamic-import-node",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "istanbul",
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-catch-errors",
                "imports": [
                  "react",
                  "redbox-react"
                ]
              }
            ]
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-inline-elements"
      ]
    }
  }
}
