node_modules
.cache-loader
coverage
/pipelines/
/trustedPipelines/
/themes/*/extensions/
/themes/*/e2e/
!/extensions/@shopgate-product-reviews
!/extensions/@shopgate-tracking-native
!/extensions/@shopgate-user-privacy
!/extensions/@shopgate-theme-config
offline.js
polyfill.js
template.ejs
