localforage.js
node_modules
.cache-loader
coverage
/pipelines/
/trustedPipelines/
/themes/theme-ios11/
/themes/*/extensions/
/extensions/*
!/extensions/@shopgate-product-reviews
!/extensions/@shopgate-tracking-native
!/extensions/@shopgate-user-privay
