[submodule "themes/gmd"]
	path = themes/gmd
	url = git@github.com:shopgate/theme-gmd.git
[submodule "extensions/@shopgate-product-reviews"]
	path = extensions/@shopgate-product-reviews
	url = git@github.com:shopgate/ext-product-reviews.git
[submodule "extensions/@shopgate-tracking-ga-native"]
	path = extensions/@shopgate-tracking-ga-native
	url = git@github.com:shopgate/tracking-ga-native.git
