language: node_js
node_js:
- 8.4.0
script: npm run test
branches:
  only:
  - master
notifications:
  email: false
  slack:
    on_success: change
    on_failure: change
    template:
      - "%{repository_slug}"
      - "<%{build_url}|#%{build_number}> - %{message}"
      - "Commit: \"%{commit_subject}\" by %{author}"
    secure: DUNDuaP3GwkGluI8o0iqoj+FzRi8XodEO46R8n6y2qIwe0Z6Us2yFfTpE5diDpuUwM+axZU1bbtTtWXCkwvTUaEcEXp1/6ta3kyaPt02d9L4SUdmnEm0Bjg/MacX5lUxF7IPO28WVNKv6ySA2Ezf06lUKvJZd+Hz0Jmok58DiySi19dLw3OMnGRadyHXIs5wPoJpOZ+MthfSoUgqsasFv/s3V0lh/vZbhb3IVwuadc2YNFCxyvHHg4h+/h22LLM82I2X4a5913czHmcHexCHvpKEb2Lk3qlV3rvmPar2Z4NrqArt3YOqIckAwRTVuQ0OsY8XZH1D6OdDkbjrjMlxeqXTwp2YWuEj5nUmDQ4cQys3oJTHeI9uCmk7zpcI20zv8WevO0MocXCf5JXd+f77zp86V/u42f23fPoDC6vJo667vQuWwTkdkWCev6c1T3cu7ehF3fhNiHjqXyFYMTdSo1Bos2a3VhBXSUHAZSNCTdZ77fsJOjI5DK7LZh9MntCbjAy7dHegxiN/aWMnmU0BfHgVkKDMpHXduLVnUxdyipV2ARY0XiRE8uYR7e0YhMMCPJQNxza6F+1yMoAS6Aq3BeN66pr6nyr0Iu7/hhDFLZdiAMp6KdOvKPYUuJ94xY4Oaubs4qDfy4efwSeXlM2pKL8/CSn90n6RimR/vuP3JO0=
