{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
