name: Trigger GitLab Pipeline on Release

on:
  release:
    types: [published]

jobs:
  trigger-gitlab-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitLab pipeline via curl
        env:
          GITLAB_PIPELINE_TOKEN: ${{ secrets.GITLAB_PIPELINE_TOKEN }}
          GITLAB_URL: ${{ secrets.GITLAB_URL }}
        run: |
          curl --request POST \
            --url $GITLAB_URL \
            --header 'content-type: application/x-www-form-urlencoded' \
            --data ref=upload-extension \
            --data-urlencode variables[REPO_NAME]=${{ github.repository }} \
            --data-urlencode variables[TAG_NAME]=${{ github.event.release.tag_name }} \
            --data token=$GITLAB_PIPELINE_TOKEN