name: Trigger GitLab Pipelines on Release

on:
  release:
    types: [published]

jobs:
  trigger-gitlab-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitLab pipeline via curl
        env:
          GITLAB_PIPELINE_TOKEN: ${{ secrets.GITLAB_PIPELINE_TOKEN }}
          GITLAB_URL: ${{ secrets.GITLAB_URL }}
        run: |
          curl --request POST \
            --url $GITLAB_URL \
            --header 'content-type: application/x-www-form-urlencoded' \
            --data ref=upload-extension \
            --data-urlencode variables[REPO_NAME]=ext-user-privacy \
            --data-urlencode variables[TAG_NAME]=${{ github.event.release.tag_name }} \
            --data token=$GITLAB_PIPELINE_TOKEN
      - name: Trigger GitLab pipeline via curl
        env:
          GITLAB_PIPELINE_TOKEN: ${{ secrets.GITLAB_PIPELINE_TOKEN }}
          GITLAB_URL: ${{ secrets.GITLAB_URL }}
        run: |
          curl --request POST \
            --url $GITLAB_URL \
            --header 'content-type: application/x-www-form-urlencoded' \
            --data ref=upload-extension \
            --data-urlencode variables[REPO_NAME]=tracking-ga-native \
            --data-urlencode variables[TAG_NAME]=${{ github.event.release.tag_name }} \
            --data token=$GITLAB_PIPELINE_TOKEN
      - name: Trigger GitLab pipeline via curl
        env:
          GITLAB_PIPELINE_TOKEN: ${{ secrets.GITLAB_PIPELINE_TOKEN }}
          GITLAB_URL: ${{ secrets.GITLAB_URL }}
        run: |
          curl --request POST \
            --url $GITLAB_URL \
            --header 'content-type: application/x-www-form-urlencoded' \
            --data ref=upload-extension \
            --data-urlencode variables[REPO_NAME]=ext-product-reviews \
            --data-urlencode variables[TAG_NAME]=${{ github.event.release.tag_name }} \
            --data token=$GITLAB_PIPELINE_TOKEN
      - name: Trigger GitLab pipeline via curl
        env:
          GITLAB_PIPELINE_TOKEN: ${{ secrets.GITLAB_PIPELINE_TOKEN }}
          GITLAB_URL: ${{ secrets.GITLAB_URL }}
        run: |
          curl --request POST \
            --url $GITLAB_URL \
            --header 'content-type: application/x-www-form-urlencoded' \
            --data ref=upload-extension \
            --data-urlencode variables[REPO_NAME]=theme-ios11 \
            --data-urlencode variables[TAG_NAME]=${{ github.event.release.tag_name }} \
            --data token=$GITLAB_PIPELINE_TOKEN
      - name: Trigger GitLab pipeline via curl
        env:
          GITLAB_PIPELINE_TOKEN: ${{ secrets.GITLAB_PIPELINE_TOKEN }}
          GITLAB_URL: ${{ secrets.GITLAB_URL }}
        run: |
          curl --request POST \
            --url $GITLAB_URL \
            --header 'content-type: application/x-www-form-urlencoded' \
            --data ref=upload-extension \
            --data-urlencode variables[REPO_NAME]=theme-gmd \
            --data-urlencode variables[TAG_NAME]=${{ github.event.release.tag_name }} \
            --data token=$GITLAB_PIPELINE_TOKEN